##
## Specific to .dockerignore
##

.git/
Dockerfile
contrib/

##
## Common with .gitignore
##

# Temporary files
*~
*#
.#*

# Vendors
node_modules/
vendor/

# Binaries for programs and plugins
dist/
gin-bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Byte-compiled / optimized / DLL files
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
.pytest_cache/
..mypy_cache/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Virtual environments
.venv
../venv
.DS_Store
.AppleDouble
.LSOverride
._*

# Custom repo notes
todo.md

# Temporary directories in the project
bin
tmp
.all-contributorsrc
.gitpod.yml
.golangci.yml
.goreleaser.yml
.yamllint.yml
.editorconfig
codecov.yml
LICENSE
README.md
